<%- include ('../partials/header') %>

    <div class="d-flex row mt-5 border">
        <div class=" col-md-6 ">
                <img class=" w-100 rounded" src=" <%= campground.image %> ">
            <div class="caption-full gb-light border p-2">
                <h3 class="d-flex justify-content-center p-2"><%=campground.name%></h3>
                <hr>
                <div class="d-flex justify-content-center">
                    <h4> £<%=campground.price %>/night</h4>
                </div>
                <hr>
                <p class="p-2"> <%= campground.description %> </p>
               
                <hr>
                 <div class="d-flex justify-content-center">     
                    <p>
                        <em>Sumbitted by <a href="/users/<%= campground.author.id %>"><strong><%= campground.author.username %></strong></a>, <span class="text-secondary"><%= moment(campground.createdAt).fromNow() %> </span></em>
                    </p> 
                </div>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <div class="d-flex">
                    <a class="btn btn-light border col-6" href="/campgrounds/<%=campground._id %>/edit">Edit</a>
                    <form class = "delete-form col-6 p-0" action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-light border w-100">Delete</button>
                    </form>
                    </div>

                <% } %>
                
            </div>
        </div>
            
            <div class=" pl-3 col-md-6">
                <div class="border">
                        <a class = "btn btn-secondary w-100" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
                </div>
                <hr>
                
                    <div class="column p-2 border">
                        <% campground.comments.forEach(function(comment){ %>
                        <div class="d-flex ">
                            <strong><%= comment.author.username %></strong>
                            <div class="d-flex ml-auto text-secondary"> <%= moment(campground.createdAt).fromNow() %></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p>  
                               <em><%= comment.text %> </em> 
                            </p>
                        </div>

                   
                        <div class="p-2 ">
                           
                                <a class= "d-flex justify-content-end" href="#collapseExample" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-ellipsis-v"></i></a>
                            <hr>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div class="collapse" id="collapseExample">
                                                    <a class = "btn btn-xs btn-light border" 
                            href="/campgrounds/<%= campground._id %>/comments/<%=comment._id %>/edit">
                                Edit
                            </a>
                            <form class = "delete-form" action="/campgrounds/<%=campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-light border" value="Delete">
                             </form> 
                             <% } %> 
                            </div>
        
                        </div>

                    <% }); %>
                </div>  
                   
            </div>
    </div>
</div>

<%- include ('../partials/footer') %>
