<%- include ('../partials/header') %>

<div class="row mt-5">
	<div class="col-md-4">
			<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail rounded">
			<img style = "width: 200px; height: 200px;" src="<%= user.avatar %>" alt="user profile image">
			</div>
		<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>	
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s campgrounds:</h3>
		<ul>
		<% campgrounds.forEach(function(campground) { %>
			<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
		<% }); %>
		</ul>
	</div>
</div>



<%- include ('../partials/footer') %>